.wrapper {
  max-width: 1400px;
  display: flex;
  justify-content: space-around;
}
.title {
  color: #3a3a44;
  font-weight: 500;
  font-size: 30px;
  margin-top: 75px;
  margin-bottom: 50px;
}
.text__block {
  width: 650px;
  margin-bottom: 50px;
}
.text__block p {
  margin-top: 15px;
}
.text__block strong,
.text__block span {
  color: #2d3d8a;
}
