.container {
  margin: 0 auto;
  width: 1030px;
  height: 100%;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.content__right {
  width: 700px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header__text {
  margin-top: 50px;
  text-align: start;
  font-size: 30px;
  height: 108px;
  width: 633px;
}
.grey__text {
  font-weight: 300;
  margin-top: 20px;
  color: #6c6c6c;
  width: 590px;
  height: 57px;
  font-size: 16px;
}
.header__buttons {
  margin-top: 10px;
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

button.header__btn {
  transition: 0.2s;
  margin-bottom: 30px;
  color: #fff;
  font-weight: 500;
  width: 220px;
  height: 50px;
  border-radius: 8px;
  background-color: #2d3d8a;
}

button.header__btn:hover {
  border: 1px solid #2d3d8a;
  background-color: #fff;
  color: #2d3d8a;
}

.stats {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.stats__criteria {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.quantity {
  text-align: center;
  width: 61px;
  height: 30px;
  font-weight: 700;
  font-size: 25px;
}
.stats__text {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  width: 149px;
  height: 37px;
}

.content__img{
    box-shadow: -50px 4px 50px 0px #5A6FD733;
    border-radius: 50%;
    z-index: 3;
    position: absolute;
    left: 832px;

}